#map-canvas {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.pull-right {
  float: right !important;
  margin-left: 10px;
}

.pull-left {
  float: left !important;
  margin-right: 10px;
}

.img-circle {
  border-radius: 50%;
}
